body {
  background-image: url("pinkclouds.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.Weather {
  border: 5px solid #55055f;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
  color: #55055f;
}

.Weather h1 {
  font-size: 40px;
  font: bold;
  font-weight: 300;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 70;
  line-height: -40px;
  list-style: none;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 80px;
  
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
